@header-color: rgba(255, 104, 115, 1);
@header-color: #36AB32;

@bgcolor: rgba(220, 231, 235, 1);
@bgcolor-article: #ffffff;

html {
  font-family: Noto Sans, serif;
}

body {
  background-color: @bgcolor;
}

section.articles {
  display: block;
  margin: 0 20%;
  padding: 10px;
  width: 60%;
}

article {
  margin-bottom: 10px;
  padding: 2% 5%;
  border-top: solid 5px @header-color;
  background: @bgcolor-article;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  .article-text {
    font-size: 1.1em;
    margin: 17px;
  }
  pre {
    font-size: 0.8em;
  }
  h1, h2 {
    margin: 10px;
  }

}

header {
  font-size: 3em;
  color: #008800;
}

.current-page-paginator {
  transition: 0.3s;
  background-color: @header-color;
  border-radius: 5px;
  a {
    color: white;
  }
}

.extra-info {
  display: block;
  color: @header-color;
  margin: 2% 10px;
  height: 90px;
  width: 100%;

  p {
    display: block;
    float: right;
    font-style: italic;
    font-size: 0.8em;

  }
  .disqus-thread {
    display: inline;
    float: left;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .tag-links {
    display: block;
    float: left;
    width: 100%;
    margin-top: 2em;
    a {
      background-color: @header-color;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
      padding: 7px;

      &:hover {
        background-color: @header-color;
        color: #dce9cf;
      }
    }
  }
}

.paginator {
  list-style: none;

  margin: 3% 35%;
  margin-bottom: 8%;
  font-size: 2em;

  li {
    display: block;
    float: left;
    width: 50px;
    height: 35px;
    text-align: center;
    margin: 0 5px;
    padding: 3px;
    line-height: 1.2;
    a {
      color: @header-color;
      text-decoration: none;
    }
    &:hover {
      .current-page-paginator;
    }

  }
  .current-page {
    .current-page-paginator;
  }
}

.blog-link {
  position: fixed;
  margin: 20px 15px;
  cursor: pointer;
  z-index: 999;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  transition: 0.1s;
  &:hover {
    width: 44px;
    height: 44px;
    left: 8px;
    top: 8px;
  }
}

.scrollTop {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: @header-color;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  img {
    width: 50px;
    height: 50px;
  }
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
}

h1, h2 {
  color: @header-color;
  a {
    color: @header-color;
    text-decoration: none;
  }
}

@media (max-width: 801px) {
  section.articles {
    display: block;
    margin: 0 2%;
    padding: 3px;
    width: 96%;
  }

  article {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    div {
      margin: 10px;
    }
    h1, h2 {
      margin: 10px;
    }
  }

  .paginator {
    margin: 3% 20%;

  }

  .blog-link {
    display: none;
  }

}